<div class="container">
  <div class="columns example">
    <!-- プロフィール -->
    <div class="column is-3">
      <div class="twPc-div">
      <a class="twPc-bg twPc-block"></a>
      	<div>
      		<a title="Mert Salih Kaplan" href="https://twitter.com/suzumi49n" class="twPc-avatarLink">
      			<img alt="Mert Salih Kaplan" src="usercontent/7m5qqKSw.jpeg" class="twPc-avatarImg">
      		</a>

      		<div class="twPc-divUser">
      			<div class="twPc-divName">
      				<a href="https://twitter.com/suzumi49n">suzumi</a>
      			</div>
      			<span>
      				<a href="https://twitter.com/suzumi49n">@<span>suzumi49n</span></a>
      			</span>
      		</div>

      		<div class="twPc-divStats">
      			<ul class="twPc-Arrange">
      				<li class="twPc-ArrangeSizeFit">
      					<a href="https://twitter.com/suzumi49n" title="9.840 Tweet">
      						<span class="twPc-StatLabel twPc-block">ツイート</span>
      						<span class="twPc-StatValue">9,840</span>
      					</a>
      				</li>
      				<li class="twPc-ArrangeSizeFit">
      					<a href="https://twitter.com/suzumi49n/following" title="885 Following">
      						<span class="twPc-StatLabel twPc-block">フォロー</span>
      						<span class="twPc-StatValue">885</span>
      					</a>
      				</li>
      				<li class="twPc-ArrangeSizeFit">
      					<a href="https://twitter.com/suzumi49n/followers" title="1.810 Followers">
      						<span class="twPc-StatLabel twPc-block">フォロワー</span>
      						<span class="twPc-StatValue">1,810</span>
      					</a>
      				</li>
      			</ul>
      		</div>
      	</div>
      </div>
    </div>
    <!-- タイムライン -->
    <div class="column is-6">
      <!-- ツイート -->
      <article class="media tweet">
        <p class="control tweet-form">
          <textarea class="textarea" placeholder="いまどうしてる？"></textarea>
        </p>
        <p class="control tweet-button-panel">
          <button class="button is-primary is-right"><i class="fa fa-pencil-square-o"></i>ツイート</button>
        </p>
      </article>
      <!-- ツイートリスト -->
      <article class="media tweets">
        <figure class="media-image">
          <img src="usercontent/7m5qqKSw.jpeg">
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>suzumi</strong> <small>@suzumi49n</small> <small>31m</small>
              <br>
              こんにちは。始めてのツイートです。よろしくお願いします。
              ツイ廃として毎日100ツイートを目指していこうと思います。https://twitter.com/suzumi49n
            </p>
          </div>
          <nav class="navbar">
            <div class="navbar-left">
              <a class="navbar-item">
                <span class="icon is-small"><i class="fa fa-reply"></i></span>
              </a>
              <a class="navbar-item">
                <span class="icon is-small"><i class="fa fa-retweet"></i></span>
              </a>
              <a class="navbar-item">
                <span class="icon is-small"><i class="fa fa-heart"></i></span>
              </a>
            </div>
          </nav>
        </div>
      </article>
      <article class="media tweets">
        <figure class="media-image">
          <img src="http://placehold.it/60x60">
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
              <br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
            </p>
          </div>
          <nav class="navbar">
            <div class="navbar-left">
              <a class="navbar-item">
                <span class="icon is-small"><i class="fa fa-reply"></i></span>
              </a>
              <a class="navbar-item">
                <span class="icon is-small"><i class="fa fa-retweet"></i></span>
              </a>
              <a class="navbar-item">
                <span class="icon is-small"><i class="fa fa-heart"></i></span>
              </a>
            </div>
          </nav>
        </div>
      </article>
      <article class="media tweets">
        <figure class="media-image">
          <img src="usercontent/7m5qqKSw.jpeg">
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>suzumi</strong> <small>@suzumi49n</small> <small>31m</small>
              <br>
              こんにちは。始めてのツイートです。よろしくお願いします。
              ツイ廃として毎日100ツイートを目指していこうと思います。https://twitter.com/suzumi49n
            </p>
          </div>
          <nav class="navbar">
            <div class="navbar-left">
              <a class="navbar-item">
                <span class="icon is-small"><i class="fa fa-reply"></i></span>
              </a>
              <a class="navbar-item">
                <span class="icon is-small"><i class="fa fa-retweet"></i></span>
              </a>
              <a class="navbar-item">
                <span class="icon is-small"><i class="fa fa-heart"></i></span>
              </a>
            </div>
          </nav>
        </div>
      </article>
      </div>
      <!-- オススメユーザーなどの何か -->
      <div class="column is-3">

      </div>
    </div>
</div>
